<%- include('partials/Header') %>
<div class="JEE-MAINS-BOOSTER">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
          src="assets/2-removebg-preview (1).png"
          alt="Logo"
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Mentopi
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" aria-current="page" href="/" role="button"
            >Home</a
          >
          <a class="nav-link" href="/Courses" role="button">Courses</a>
          <a class="nav-link" href="/Reviews">Reviews</a>
          <a class="nav-link" href="/AboutUs">About Us</a>
          <a class="nav-link" href="/Help">Help</a>
          <% if (user) { %>
          <a class="nav-link" href="/myaccount">My Account</a>
          <% } else { %>
          <a class="nav-link" href="/login">Login</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
  <div class="JMB-Home">
    <div
      class="modal modal-sheet position-static d-block p-4 py-md-5"
      tabindex="-1"
      role="dialog"
      id="modalSheet"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-body text-center py-2 pt-3">
            <p>
              Registration Starts <br />
              December 2024<br /><span class="border-bottom"
                >Explore Our Other Courses !!</span
              >
            </p>
          </div>
          <div
            class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0"
          >
            <button type="button" class="btn btn-lg btn-outline-dark">
              Become A Topper
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="courses1">
    <div class="pb-2 Courses-heading">
      <div><h2 class="poppins-bold">Courses</h2></div>
      <div><span></span></div>
    </div>
    <div class="courses-section-1">
      Explore our Flagship Course "Become-A-Topper" !!
    </div>
    <div class="catalouge">
      <div class="card" style="width: 25rem">
        <img
          src="assets/Mentopi (8).png"
          class="card-img-top"
          alt="BECOME A TOPPER"
        />
        <div class="card-body course-card-body">
          <h5 class="card-title">Become A Topper</h5>
          <p class="card-text">1 on 1 Meetings for 1 Month With Best Mentors</p>
          <a href="/Become-A-Topper" class="btn course-card-btn">See More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section9">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-lg-start">
          <h5 class="display-4 fw-bold lh-1 mb-3">Mentopi</h5>
          <p class="col-lg-10 fs-6">
            Join The Topper's Club <br /><br /><br /><br /><span
              >Reach out to us</span
            ><br />contact@mentopi.com <br /><br />© 2024. All rights reserved.
          </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 rounded-3 footer-form" id="newsletterForm">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingName"
                placeholder="John Doe"
                required
              />
              <label for="floatingName">Name</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me" /> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-dark" type="submit">
              Sign up for Our Newsletter
            </button>
            <hr class="my-4" />
            <small class="terms"
              >By clicking Sign up, you agree to the terms of use.</small
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/Footer') %>
